---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: remote-falcon-viewer
  labels:
    app: remote-falcon-viewer
spec:
  replicas: 8
  selector:
    matchLabels:
      app: remote-falcon-viewer
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  template:
    metadata:
      labels:
        app: remote-falcon-viewer
    spec:
      containers:
        - name: remote-falcon-viewer
          imagePullPolicy: Never
          image: remote-falcon-viewer:latest
          resources:
            requests:
              memory: 500Mi
              cpu: 500m
            limits:
              memory: 750Mi
              cpu: 750m
          ports:
            - containerPort: 8080
          env:
            - name: MONGO_URI
              value: mongodb://host.docker.internal:27017/remote-falcon?authSource=admin&connectTimeoutMS=2000&socketTimeoutMS=15000&maxIdleTimeMS=120000&waitQueueTimeoutMS=5000&maxPoolSize=600&minPoolSize=100
          startupProbe:
            httpGet:
              path: /remote-falcon-viewer/q/health
              port: 8080
            initialDelaySeconds: 0
            failureThreshold: 30
            periodSeconds: 1
          livenessProbe:
            httpGet:
              path: /remote-falcon-viewer/q/health/live
              port: 8080
            initialDelaySeconds: 0
            failureThreshold: 30
            periodSeconds: 1
          readinessProbe:
            httpGet:
              path: /remote-falcon-viewer/q/health/ready
              port: 8080
            initialDelaySeconds: 0
            failureThreshold: 30
            periodSeconds: 1
---
apiVersion: v1
kind: Service
metadata:
  name: remote-falcon-viewer
spec:
  type: NodePort
  ports:
    - port: 8080
      targetPort: 8080
      nodePort: 30080
  selector:
    app: remote-falcon-viewer
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: remote-falcon-viewer
spec:
  rules:
    - http:
        paths:
          - path: /remote-falcon-viewer
            pathType: Prefix
            backend:
              service:
                name: remote-falcon-viewer
                port:
                  number: 8080
---
apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: remote-falcon-viewer
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: remote-falcon-viewer
  minReplicas: 8
  maxReplicas: 12
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 85
